{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
<meta charse="utf-8">
	<title>Articles</title>
    <link rel="stylesheet" type="text/css" href="{% static 'src/scss/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'src/scss/style.css' %}">
</head>
<body>
    <section class="top-banner top-banner__container">
        <header classs="header top-banner__header">
            <a href="{% url 'articles:list' %}">
                <img class="main-logo" src="{% static 'dist/img/origami.svg' %}"> paperblog
            </a>

            <nav class="header__nav nav">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </nav>

        </header>
    </section>

    <div class="content content__wrapper">

        {% block content %}
        
        {% endblock %}
    </div>
</body>
</html>