{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
<meta charse="utf-8">
	<title>Articles</title>
    <link rel="stylesheet" type="text/css" href="{% static 'src/scss/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'src/scss/style.css' %}">
</head>
<body>
    <section class="top-banner top-banner__container">
        <header class="header top-banner__header">
            <a class="signature" href="{% url 'articles:list' %}">
                <img class="main-logo" src="{% static 'dist/img/origami.svg' %}">
                <p class="main-title">| paperblog</p>
            </a>

            <nav class="header__nav nav">
                <ul class="nav__content">
                    <li class="nav__content-item"><a href="">Articles</a></li>
                    <li class="nav__content-item"><a href="">Tutorials</a></li>
                    <li class="nav__content-item"><a href="">Talk</a></li>
                    <li class="nav__content-item"><a href="">La team</a></li>
                    <li class="nav__content-item cta"><a href="">Newsletters</a></li>
                    <li class="nav__logout-btn">
                    <form class="nav_logout-link" action="{% url 'accounts:logout' %}" method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="logout">Logout</input>
                    </form>
                    </li>
                </ul>
            </nav>
        </header>

        <h1 class="heading-1"> WE ARE PAPERNEST </h1>
        {% comment %} <img class="top__illu-1" src="{% static 'dist/img/illu_1.svg' %}">
        <img class="top__illu-2" src="{% static 'dist/img/illu_2.svg' %}"> {% endcomment %}
    </section>

    <div class="content content__wrapper">

        {% block content %}
        
        {% endblock %}
    </div>

    <footer>

    </footer>
</body>
</html>